*{box-sizing: border-box; 
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
body{background-color:var(--coblack);  ;}

html{
    --cored : red;
    --coblue :blue;
    --coblack : rgb(76, 76, 82);
    --cowhite :rgb(233, 230, 230); 
    --cosky :rgb(7, 127, 148); 
    }

/**********************************START HEADER********************************************/

.header{
    height: 12%; 
    background-color: var(--coblack); 
    width: 100%;
    box-shadow: 2px 4px 10px rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;}

.datetime{
    margin: 0px auto 20px auto;
    border-radius: 0px 0px 150px 150px;
    background-color: rgba(255, 255, 255, 0.287);
    height: 32px; 
    width: 500px;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 1px var(--cosky) ;
}

.navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none; 
    position: fixed;
    right: 0px; 
    border-radius: 50px;
    height: 40px; 
    width: 40px;
    z-index: 400;
    border: 2px solid rgba(204, 204, 206, 0);}

.navbar:hover{
    height: 250px; 
    width: 45px;
    background-color: rgb(236, 236, 236);
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style: none; 
    position: fixed;
    right: 0px; 
    border-radius: 50px;
    border-left: 3px solid var(--cosky); ; ;}

.navbar  i{
    color:var(--cosky); ;  ; 
    font-size: 35px; 
    margin-right: 32px;;}


/**************************************************************************************/
.accueil{
    height:490px;  
    margin: auto;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-direction: row; }


/*******************************START DOMAIN****************************/
.domain{
    box-sizing: border-box;
    /* border-radius: 0px 80px 0px 0px; */
    width: 20%; 
    background-color: var(--coblack);
    border: 1px solid white;
    height: 95%; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 2px var(--cowhite); ;}
    
.center{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cowhite);  ;
    height: 130px; 
    width: 130px; 
    margin-top: -25px;
    border-radius: 50%;
    box-shadow: 1px 5px 18px var(--cosky); ; }

.domain a{text-decoration: none;}

.stock{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    padding: 0px;
    height: 15%;  
    width: 98%; }

.round i{color: var(--cowhite); font-size: 25px;}

   
.round{
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; 
    width: 50px; 
    border-radius: 50%;
    background-color: var(--cosky); ; ; 
    z-index: 2;
    /* box-shadow: 1px 5px 18px rgb(139, 139, 141); */
}

  

.line :hover{ color: rgb(255, 0, 0);font-weight: 700;}
.line h2{margin-left: 10px; color:var(--cowhite); text-shadow: 2px 2px 4px var(--coblack);padding: 2px;}



.line{
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0;
    animation: anima 1s  forwards 2s;
    height:35% ; 
    width: 30%; 
    font-size: 0.2rem;
    margin-left: -10px; 
    border-radius: 10px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;}



@keyframes anima {
    0%{ width: 40%; 
        margin-left: -40px;}

    100%{background-color: #fff; 
        width: 80%; 
        height: 40%;
        opacity: 1;
        font-size: 0.9rem; 
        background-color: var(--cosky);
        text-shadow: 2px 2px 2px rgb(160, 158, 158) ; 
        color:var(--cowhite); 
        text-transform: uppercase;
    }
}
.slider{ 
    position: relative;
    width: 78%; 
    height: 95%; 
    border: 1px solid white;
    box-shadow: 2px 2px 2px rgb(255, 255, 255)}

.slide1{
    animation : slide 2s alternate-reverse forwards  12s;
    height: 100%; 
    width: 100%;
    /* background:url(4.jpg) ; */
    background-size: cover;
    position: absolute;}

.slide2{
   opacity: 0;
    animation: slid 2s forwards 10s;
    height: 100%; 
    width: 100%;
    background:url(3.jpg);
    background-size: cover;
    position: absolute;}

    @keyframes slid {
        0%{ 
            opacity: 0;
            margin-top: -540px;}
    
        100% {opacity: 1;}}

    @keyframes slide {
        0%{ 
            opacity: 0;
            margin-top: -540px;}
    
        100%{opacity: 1; }}

/*  */
.content{
    position: relative;
    margin-top: 50px;
    height: 50px; 
    background-color: var(--coblack); ; 
    width: 100%;
    box-shadow: 2px 4px 10px var(--cowhite); ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;}

h1 {
    margin: auto;
    color: #fff; 
    text-align: center; 
    font-size: 41px; 
    text-shadow: 1px 2px 2px black;
}
.content h1{ font-size: 30px; text-align: center; margin: auto; color: white;}



    .yes{color: var(--cosky); ; ;}
    .ref{color: rgb(243, 4, 4);}


.middle i{ 
    z-index: 800;
    font-size: 50px; 
    color: #fff; 
    margin: 0px 50px;}

.middle i:hover{transform: scale(1.3);}

.sideleft i, .sideright i{ 
    z-index: 800;
    font-size: 30px; 
    color: #fff; 
    margin: 0px 10px;}

span {color: var(--cosky); ; ; font-weight: 700;}

.sideleft{background-color: var(--cosky); ; ; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 4%; height: 40%; margin-left: 10px;}


.middle{
    background-color: var(--cosky); ; ; 
    width: auto; 
    padding: 0px 10px;
    height: 70%; z-index: 1; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    box-shadow: 3px 3px 10px black;}

  .area i{ font-size: 40px; margin-right: 10px;}  
.area{
   
    text-transform: uppercase;
    background-color: var(--cosky); ; ; 
    color: white;
    padding: 0px 10px;
    height: 100%; z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; 
    position: relative;
    box-shadow: 3px 3px 10px black;}

.sideright{
    background-color: var(--cosky); ; ; 
    width: 4%; 
    height: 40%; 
    margin-right: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center}

.trrr{
    background-color: var(--cosky); ; ; 
    height: 10px; width: 90%; 
    position: absolute; 
    left: 5%;}
    
.bar{
        background-color: var(--cosky); ; ; 
        height: 15px; width: 100%; 
        position: absolute; 
}



/* 
/*****************************************************************//*////* */
.myself{display: flex; justify-content: space-between;
height: 300px; align-items: center; box-sizing: border-box; z-index: 1;}



.moi{border-radius: 50%;
    box-shadow: 3px 5px 5px var(--cosky); ; ;
     height:160px;
     width:160px; 
    float: left; 
    shape-outside: circle(); 
    margin-right: 22px;
margin-top: 12px;}

.pick{
    overflow: auto;
    padding-left: 5px;
    box-shadow: 3px 10px 24px var(--cowhite) inset;
    border-top :2px solid var(--cosky); ; ;
    border-bottom :2px solid var(--cosky); ; ;
    background-color: rgb(182, 181, 181); 
    width: 65%; 
    height: 280px;
    box-sizing: border-box;
}



.des{
     
     display: flex;
    padding: 5px; 
    flex-direction: row; 
    justify-content: center; 
    box-shadow: 12px 18px 24px rgb(2, 98, 122) inset;
    background-color: var(--cosky); ; ; 
    box-sizing: border-box;
    color: white;
    border-radius: 10px;
    border :2px solid var(--cosky); ; }

.hub{
   
    padding: 0px;
    margin-right: 5px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
   }

.hub i{margin-right: 10px; font-size: 25px;}
.hub h3{ border-bottom: 1px solid white;}

 .des li{   padding: .1875rem;
            margin: 1.25rem ;
           font-size: 20px;}

.des h3{ font-size: 20px; 
    font-weight: 700; 
    text-transform: uppercase; 
    text-align: center;
    padding-bottom: 2px;}

p{font-size: 1.24rem; padding: 10px; text-align: justify; }



/*****************************************************************//*///

/**********************************END HEADER********************************************/


.container{display: flex; flex-direction: column; justify-content: space-between; height: 830px; 
   position: relative; background-color: var(--coblack); ;}

    .doms h2{
        position: absolute; 
        top: -3%; 
        left: 50%; 
        width: auto;
        font-size: 1.5rem;
        z-index: 40;
        transform: translateX(-50%);
        background-color: rgb(212, 209, 209); 
        color:rgb(10, 170, 219) ;
        padding: 5px 50px; 
        text-shadow: 2px 2px 3px black;
        border-radius: 40px 40px 0px  0px;
        box-shadow: 5px 5px 2px var(--cosky); ; 
       }
    
    .knows h2{
        font-size: 1.5rem;
         position: absolute; 
         top: 54%; 
         left: 50%;
         background-color: rgb(212, 209, 209); 
         color:rgb(10, 163, 235) ;
         padding:5px 50px; 
         text-shadow: 2px 2px 3px black;
         transform: translateX(-50%); 
         border-radius: 40px 40px  0px 0px;
         box-shadow: 5px 5px 2px var(--cosky); ; ;}

.doms h3 {font-size: 17px;}

.doms{ 
    height: 400px;
    padding: 10px;
    display: flex; margin: 60px 0px; background-color: var(--coblack); ;
    box-shadow: 2px 2px 3px rgb(7, 7, 7) inset;
    flex-direction: row; width: 100%;justify-content: space-between;
    border: 2px solid var(--cosky); ; }

.geosciences, .numeric{background-color: rgb(41, 40, 40); 
    box-shadow: 1px 4px 13px rgb(200, 198, 198) ;
    width: 47%; padding: 10px; 
    display: flex;justify-content: space-between; 
    flex-direction: column; box-sizing: border-box;}


    .gens{width: 100%; background-color: rgb(208, 211, 207);
        box-shadow: 0px 0px 4px rgb(124, 123, 123); padding: 2px; }

.gen {
    /* box-shadow: 2px 5px 4px black; */
    text-shadow: 2px 2px 3px rgb(3, 3, 3);
    /* border-radius: 0px 10px 10px 0px; */
    height: 24px ;
    background-color: var(--cosky); ; ;
    display: flex; 
    justify-content: space-between;
    padding: 0px 0px 0px 4px;
    align-items: center; 
    color: white;}

.bio{background-color:var(--cosky); ; ; width: 50%;}
.gra{background-color:var(--cosky); ; ; width: 36%;}
.geoma{background-color:var(--cosky); ; ; width: 90%;}
.clima{background-color:var(--cosky); ; ; width: 90%;}
.stat{background-color:var(--cosky); ; ; width: 40%;}
.hydro{background-color:var(--cosky); ; ; width: 65%;}
.hydrogeo{background-color:var(--cosky); ; ; width: 55%;}
.web{background-color:var(--cosky); ; ; width: 60%;}
.data{background-color:var(--cosky); ; ; width: 26%;}
.ges{background-color:var(--cosky); ; ; width: 37%;}



.knows{ margin-top: 50px ;display: flex; justify-content: space-between; 
    height: 315px;background-color: rgb(2, 2, 2);
    box-shadow: 2px 2px 3px rgb(184, 182, 182) inset;padding: 10px; border: 2px solid var(--cosky); ; }
.know{
    
    display: flex; 
    flex-direction: column ; 
    justify-content: space-between;
    height: 270px;
    width: 230px;
    margin-right: 3px;
    background-color: rgb(205, 207, 205);
    box-shadow: 2px 2px 4px rgb(133, 132, 132) ;
}
.knows li{padding: 10px 0px; font-size: 17px;}
.circle{width: 100%; height: 40px; text-align: center; color: white;
    background-color: var(--cosky); ; ; line-height: 20%; display: flex; 
    align-items: center;box-shadow: 2px 2px 3px black;
    justify-content: center; text-shadow: 2px 2px 3px black;}

.circle:hover{background-color: rgb(221, 7, 7);}

.circle i{margin-right: 10px; font-size: 30px;}


.pros{
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 10px;
    box-shadow: 2px 2px 22px  rgb(15, 15, 15);
    height: 300px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.pro{ border: 2px solid var(--cosky); ; ;
    display: flex; 
    background-color: rgb(207, 207, 207);
    justify-content: space-between; 
    flex-direction: column;
    padding-bottom: 20px;
}


    
.projetss h2, .articles h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(10, 190, 214);
    text-transform: uppercase;
    font-size: 1.5rem;
    border-radius: 40px 40px 0px  0px;
    width: 280px;
    margin: auto;
    background-color: rgb(211, 210, 210);
    box-shadow: 2px 3px 4px var(--cosky); ; ;
    text-shadow: 1px 2px 3px rgb(1, 1, 2);
}




.arts{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 2px 2px 22px  rgb(20, 20, 20);
    height: 750px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}
.art{border: 2px solid var(--cosky); 
    display: flex; 
    justify-content: space-between; 
    flex-direction: column;
    margin-top: 20px;
    background-color: rgb(163, 163, 163);
    padding-bottom: 10px }


.detail{text-align: center;}

.detail:hover{ font-weight: 700;}



.deform{
    box-shadow: 2px 4px 3px rgb(97, 97, 97);
    text-align: center;
    color: white;
    background-color: var(--cosky); ; ;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center
    
}
.deforme{
    box-shadow: 2px 4px 3px rgb(97, 97, 97);
    text-align: center;
    color: white;
    background-color: var(--cosky); ; ;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center  
}



.down{ 
    height: 30px; 
    background-color: rgb(231, 20, 20); 
    width: auto; 
    border-radius: 7px ;
    align-self: center;
    margin-right: 10px;
    }
.down a {font-size: 20px;color: white; padding: 2px 10px;}
.down i{font-size: 18px; color: white; margin-right: 7px;}




/*****************************START FOOTER***************************/
footer{background-color: rgba(0, 0, 0, 0.424);}
.contact{
    position: relative;
    margin-top: 80px;
    margin-bottom: 10px;
    height: 80px; 
    background-color: rgb(167, 165, 165); 
    overflow: hidden;
    box-shadow: 2px 2px 6px rgb(170, 170, 170) ;
    display: flex;
    justify-content: space-between;
    align-items: center;}
    #middle, 
    #sideleft, 
    #sideright{
    border-radius: 20px;}

.infos{width: 65%; margin: auto; box-shadow: 2px 2px 4px var(--cosky); ; ;}

.form{margin:10px auto;font-size: 20px; padding: 20px; background-color: rgb(204, 204, 204);}

input {width: 150px;font-size: 20px; height: 35px; margin: 0px 20px; outline: 1px solid var(--cosky); ; ;}
#message{width: 400px; }


button{padding: 6px ;  color: white; font-size: 20px;
     background-color: var(--cosky); ; ; cursor: pointer;
    width: 110px; border-radius: 8px;
    border: 2px solid white;}




.copy{height: 30px; }
.copy p {text-align: center; color: white;}

/*****************************END FOOTER***************************/






/**********************LE RESPONSIVE***********************/

@media screen and (max-width:650px) {
    .header{
        height: 12%; 
        background-color: var(--coblack); 
        width: 100%;
        box-shadow: 2px 4px 10px rgb(235, 235, 235);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;}
.header h1{font-size: 1.8rem;}

    .accueil{
        height:490px;  
        margin: auto;
        display: flex; 
        align-items: center;
        justify-content: space-between;
        flex-direction: row; }
        .domain{
            box-sizing: border-box;
            width: 50%; 
            background-color: var(--coblack);
            border: 0.5px solid rgb(255, 255, 255);
            height: 90%; 
            display: flex; 
            /* margin-top: 40px; */
            flex-direction: column; 
            align-items: center;
            justify-content: space-between;
            box-shadow: 2px 2px 6px var(--cowhite); ;
        }

    .slider{ 
    position: relative;
    width: 55%; 
    height: 90%; 
    border: 1px solid white;
    box-shadow: 2px 4px 6px rgb(255, 255, 255)}

    .slide2{
    opacity: 0;
    animation: slid 2s forwards 10s;
    height: 100%; 
    width: 100%;
    background:url(1.jpg);
    background-size: cover;
    position: absolute;}


.myself{display: flex; flex-direction: column ; 
    justify-content: space-between;
height: auto; 
align-items: center; 
box-sizing: border-box; z-index: 1;}


.moi{border-radius: 50%;
    box-shadow: 3px 5px 5px var(--cosky); ; ;
     height:160px;
     width:160px; 
    float: left; 
    shape-outside: circle(); 
    margin-right: 22px;
margin-top: 12px;}

.pick{transform: scale(.9);
    margin-bottom: 20px;
    overflow: auto;
    padding-left: 5px;
    box-shadow: 3px 10px 24px var(--cowhite) inset;
    border-top :2px solid var(--cosky); ; ;
    border-bottom :2px solid var(--cosky); ; ;
    background-color: rgb(182, 181, 181); 
    width: 100%; 
    height: 280px;
    box-sizing: border-box;
}



    .doms{flex-direction: column-reverse; height: auto;  margin-bottom: 10px;}

     .knows{height: auto; display: flex; 
            justify-content: space-between; 
            flex-wrap: wrap; }
    .geosciences, .numeric{
    width: 100%; padding: 10px; 
    display: flex;justify-content: space-between; 
    flex-direction: column; box-sizing: border-box;}
    .gens{margin: 5px 0px;}

    .infos{display: none;}
}




















@media screen and (max-width:1000px) {

    .accueil{
        height:490px;  
        margin: auto;
        display: flex; 
        align-items: center;
        justify-content: space-between;
        flex-direction: row; }

        .domain{
            box-sizing: border-box;
            width: 48%; 
            background-color: var(--coblack);
            border: 0.5px solid rgb(255, 255, 255);
            height: 90%; 
            display: flex; 
            /* margin-top: 40px; */
            flex-direction: column; 
            align-items: center;
            justify-content: space-between;
            box-shadow: 2px 2px 6px var(--cowhite); }

    .slider{    
    position: relative;
    width: 52%; 
    height: 90%; 
    border: 1px solid white;
    box-shadow: 2px 4px 6px rgb(255, 255, 255)}
   
    
}




.loads{
    opacity: 0;
   animation: cont 10s linear ; 
   height: 100%; 
    width: 100%; 
    /* background-color: #fff;  */
    z-index: 800; position: relative;}

.loader{  
    animation: tour 2s linear infinite ;  
    height: 120px; 
    width: 120px;
    border-radius: 50%;
    border: 15px solid rgb(133, 133, 130);
    border-bottom: 15px solid rgb(4, 179, 185);
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    box-shadow: 1px 1px 15px rgb(245, 244, 244);
    transform: translateX(-50%,-50%); z-index: 1000;}

@keyframes tour {
    0%{ transform: rotate(0deg);margin-top:-50px}
    50%{transform:rotate(360deg);margin-top:-50px}
    100%{transform:rotate(720deg);margin-top:-50px}}

@keyframes cont {
    0%{ opacity: 1;}
    80%{ opacity: 1;}
    100%{opacity: 0;}}




