*{box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

/**********************************START HEADER********************************************/

.header{
    height: 12%; 
    background-color: rgb(233, 230, 230); 
    width: 100%;
    box-shadow: 2px 4px 10px rgb(7, 7, 7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;}


.navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none; 
    position: fixed;
    right: 0px; 
    border-radius: 50px;
    height: 40px; 
    width: 40px;
    z-index: 400;
    border: 2px solid rgb(208, 208, 214);}

.navbar:hover{
    height: 250px; 
    width: 45px;
    background-color: rgb(236, 236, 236);
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style: none; 
    position: fixed;
    right: 0px; 
    border-radius: 50px;
    border-left: 3px solid blue;}

.navbar  i{
    color:rgb(54, 12, 240) ; 
    font-size: 35px; 
    margin-right: 32px;;}




.content{
    position: relative;
    margin-top: 50px;
    height: 50px; 
    background-color: rgb(233, 230, 230); 
    width: 100%;
    box-shadow: 2px 4px 10px rgb(7, 7, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;}

h1 {
    margin: auto;
    color: #fff; 
    text-align: center; 
    font-size: 41px; 
    text-shadow: 1px 2px 2px black;
}
.content h1{ font-size: 30px; text-align: center; margin: auto; color: white;}

.accueil i { 
    z-index: 800;
    font-size: 40px; 
    color: rgb(253, 252, 252);}

.middle i{ 
    z-index: 800;
    font-size: 50px; 
    color: #fff; 
    margin: 0px 50px;}

.sideleft i, .sideright i{ 
    z-index: 800;
    font-size: 30px; 
    color: #fff; 
    margin: 0px 10px;}

span {color: blue; font-weight: 700;}

.sideleft{background-color: rgb(6, 20, 221); 
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 4%; height: 40%; margin-left: 10px;}


.middle{
    background-color: rgb(6, 20, 221); 
    width: auto; 
    height: 80%; z-index: 1; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    box-shadow: 3px 3px 10px black;}

  .area i{ font-size: 40px; margin-right: 10px;}  
.area{
   
    text-transform: uppercase;
    background-color: rgb(24, 8, 251); 
    color: white;
    padding: 0px 10px;
    height: 100%; z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; 
    position: relative;
    box-shadow: 3px 3px 10px black;}

.sideright{
    background-color: rgb(6, 20, 221); 
    width: 4%; 
    height: 40%; 
    margin-right: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center}

.trrr{
    background-color: rgb(6, 20, 221); 
    height: 10px; width: 90%; 
    position: absolute; 
    left: 5%;}
    
.bar{
        background-color: rgb(6, 20, 221); 
        height: 15px; width: 100%; 
        position: absolute; 
}



/* 
/*****************************************************************//*////* */
.myself{display: flex; justify-content: space-between;
height: 300px; align-items: center; box-sizing: border-box;}

.moi{border-radius: 50%;
    box-shadow: 3px 5px 5px rgb(15, 28, 211);
     height:150px;
     width:150px; 
    float: left; 
    shape-outside: circle(); 
    margin-right: 22px;
margin-top: 12px;}
.pick{
    overflow: auto;
    padding-left: 5px;
    box-shadow: 3px 10px 24px rgb(188, 188, 190) inset;
    border-top :2px solid blue;
    border-bottom :2px solid blue;
    background-color: rgb(251, 251, 251); 
    width: 65%; 
    height: 280px;
    box-sizing: border-box;
}
/* .pick :hover{background-color: white; box-shadow: 1px 1px 1px blue;} */

.des{display: flex;
    padding: 5px; 
    flex-direction: row; 
    justify-content: center; 
    box-shadow: 12px 18px 24px rgb(3, 10, 105) inset;
    background-color: rgb(14, 14, 236); 
    box-sizing: border-box;
    color: white;
border-radius: 10px;
border :2px solid blue}

.hub{
    padding: 0px;
    margin-right: 5px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
   }

.hub i{margin-right: 10px; font-size: 25px;}
.hub h3{ border-bottom: 1px solid white;}

 .des li{   padding: .1875rem;
            margin: 1.25rem ;
           font-size: 20px;}

.des h3{ font-size: 20px; 
    font-weight: 700; 
    text-transform: uppercase; 
    text-align: center;
    padding-bottom: 2px;}

p{font-size: 1.24rem; padding: 10px; text-align: justify; }



/*****************************************************************//*///

/**********************************END HEADER********************************************/



/**************************************************************************************/
.accueil{
    margin-top: 50px;
    padding: 0px 20px;
    height:490px; 
    width: 95%; 
    margin: auto;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-direction: row; 
    box-shadow: 4px 6px 4px rgb(75, 75, 75) ;
    background-color: rgb(228, 228, 228);
     }

/**********************************START ABOUT************************************/
.about{ 
    overflow: hidden;
    width: 38%; 
    background-color: rgb(226, 225, 225); 
    height: 90%; 
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 4px 10px rgb(56, 56, 56);}

  
.block{
   
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
    position: absolute;
    height: 60px;  
    width: 60px; 
    border: 2px solid rgb(208, 209, 208); 
    border-radius: 50%;}

.center{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 251, 251) ;
    left: 50%; top: 50%; ; 
    transform: translate(-50%, -50%); 
    height: 350px; 
    width: 350px; 
    box-shadow: 1px 5px 18px rgb(85, 85, 87); }
    
.top{  animation: rota 5s infinite 2s;
    top:10px; 
    left:10px ; 
    background-color: rgb(6, 20, 221);}

.bottom{
    animation: rota 5s infinite 6s;
    bottom: 10px; 
    left: 10px; 
    background-color: rgb(6, 20, 221);}

.left{
    animation: rota 5s infinite 8s;
    right:10px; 
    bottom: 10px; 
    background-color: rgb(6, 20, 221);}

.right{
    animation: rota 5s infinite 4s;
    right: 10px ; 
    top:10px;
    background-color: rgb(6, 20, 221);}

/*******************************START DOMAIN****************************/
.domain{
    box-sizing: border-box;
    border-radius: 10px;
    width: 35%; 
    background-color: rgb(233, 231, 233); 
    height: 90%; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 10px rgb(29, 28, 28);}

.domain a{text-decoration: none;}

.stock{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 23%;  
    width: 98%; 
    border-radius: 10px;}

   
.round{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; 
    width: 60px; 
    border-radius: 50%;
    background-color: rgb(6, 20, 221); 
    z-index: 2;}

.round, .about > *{
        box-shadow: 1px 5px 18px rgb(139, 139, 141);}   

.line :hover{
    color: rgb(255, 0, 0);
    font-weight: 700;
}



.line{
    cursor: pointer;
    opacity: 0;
    animation: anima 1s ease-in forwards 2s;
    height:50% ; 
    width: 90%; 
    font-size: 0.2rem;
    margin-left: -40px; 
    border-radius: 10px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;}



@keyframes anima {
    0%{
        width: 40%; 
        margin-left: -40px;
        font-size: 12px;
        opacity: 0;
        color: white;
        text-shadow: 2px 2px 2px white}

    100%{background-color: #fff; 
        width: 90%; 
        opacity: 1;
        font-size: 18px; 
        text-shadow: 2px 2px 2px rgb(160, 158, 158) ; 
        color:blue ;
        text-transform: uppercase;
    }
}


@keyframes rota {
    0%{transform:  rotate(0deg);}

    100%{transform: rotate(720deg);

    }
}





.container{display: flex; flex-direction: column; justify-content: space-between; height: 800px; 
   position: relative; }

    .doms h2{position: absolute; z-index: 40;
        top: -2%; 
        left: 50%; 
        width: auto;
        transform: translateX(-50%);
        background-color: rgb(241, 10, 10); 
        color:rgb(249, 249, 252) ;
        padding: 5px 50px; 
        text-shadow: 2px 2px 3px black;
        border-radius: 40px 0px 40px 0px;
        box-shadow: 5px 5px 2px blue
       }
    
    .knows h2{
         position: absolute; 
         top: 54%; 
         left: 50%;
         background-color: rgb(240, 11, 11); 
         color:rgb(249, 249, 252) ;
         padding:5px 50px; 
         text-shadow: 2px 2px 3px black;
         transform: translateX(-50%); 
         border-radius: 40px 0px 40px 0px;
         box-shadow: 5px 5px 2px blue;}



.doms{ height: 380px;
    padding: 10px;
    display: flex; margin: 60px 0px; background-color: rgb(249, 251, 249);
    box-shadow: 2px 2px 3px rgb(184, 182, 182) inset;
    flex-direction: row; width: 100%;justify-content: space-between;}

.geosciences, .numeric{background-color: rgb(249, 251, 249); 
    box-shadow: 1px 4px 13px rgb(200, 198, 198) ;
    width: 47%; padding: 10px; 
    display: flex;justify-content: space-between; 
    flex-direction: column; box-sizing: border-box;}

.gen {
    box-shadow: 2px 5px 4px black;
    text-shadow: 2px 2px 3px rgb(3, 3, 3);
    border-radius: 0px 10px 10px 0px;
    height: 30px ;
    background-color: rgb(39, 17, 245);
    display: flex; 
    justify-content: space-between;
    padding: 0px 5px 0px 4px;
    align-items: center; 
    color: white;}

.gen:hover{background-color: red;}

.bio{background-color:rgb(39, 17, 245); width: 50%;}
.gra{background-color:rgb(39, 17, 245); width: 30%;}
.geoma{background-color:rgb(39, 17, 245); width: 90%;}
.clima{background-color:rgb(39, 17, 245); width: 90%;}
.stat{background-color:rgb(39, 17, 245); width: 40%;}
.hydro{background-color:rgb(39, 17, 245); width: 65%;}
.hydrogeo{background-color:rgb(39, 17, 245); width: 55%;}
.web{background-color:rgb(39, 17, 245); width: 60%;}
.data{background-color:rgb(39, 17, 245); width: 22%;}
.ges{background-color:rgb(39, 17, 245); width: 32%;}



.knows{ margin-top: 30px ;display: flex; justify-content: space-between; 
    height: 300px;background-color: rgb(249, 251, 249);
    box-shadow: 2px 2px 3px rgb(184, 182, 182) inset;padding: 10px; }
.know{
    display: flex; 
    flex-direction: column ; 
    justify-content: space-between;
    height: 270px;
    width: 230px;
    margin-right: 3px;
    background-color: rgb(249, 251, 249);
    box-shadow: 2px 2px 4px rgb(133, 132, 132) ;
}
.knows li{padding: 10px 0px; font-size: 17px;}
.circle{width: 100%; height: 40px; text-align: center; color: white;
    background-color: rgb(7, 42, 245); line-height: 20%; display: flex; 
    align-items: center;
    justify-content: center;}

.circle:hover{background-color: rgb(221, 7, 7);}

.circle i{margin-right: 10px; font-size: 30px;}

.info{height: 2000px; background-color: rgba(247, 248, 251, 0.253); font-weight: 600; }
.info:hover{border-bottom: 5px solid blue;}



.pros{
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px;
    box-shadow: 2px 2px 22px  rgb(15, 15, 15);
    height: 300px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.pro{ border: 2px solid blue;
    display: flex; 
    background-color: rgb(236, 234, 234);
    justify-content: space-between; 
    flex-direction: column;
    padding-bottom: 20px;}

.projetss h2, .articles h2{
    text-align: center;
    color: blue;
    text-transform: uppercase;
    font-size: 2rem;
    background-color: rgb(212, 211, 211);
    text-shadow: 1px 2px 3px rgb(158, 158, 158);
}




.arts{
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 2px 2px 22px  rgb(20, 20, 20);
    height: 750px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}
.art{border: 2px solid blue;border-radius: 0px 0px 90px 90px; display: flex; 
    justify-content: space-between; 
    flex-direction: column;
    margin-top: 20px;
    background-color: rgb(236, 234, 234);
    padding-bottom: 10px }


.detail{text-align: center;}

.detail:hover{ font-weight: 700;}







.deform{
    box-shadow: 2px 4px 3px rgb(97, 97, 97);
    text-align: center;
    color: white;
    background-color: rgb(44, 9, 245);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center
    
}
.deforme{
    box-shadow: 2px 4px 3px rgb(97, 97, 97);
    text-align: center;
    color: white;
    background-color: rgb(44, 9, 245);
    height: 80px;
    width: 100%;
    border-radius: 0px 0px 70px 70px;
    display: flex;
    justify-content:center;
    align-items: center
    
}



.down{ 
    height: 30px; 
    background-color: rgb(231, 20, 20); 
    width: auto; 
    border-radius: 7px ;
    align-self: center;
    margin-right: 10px;
    }
    .down a {font-size: 20px;
        color: white; padding: 2px;}





/*****************************START FOOTER***************************/

.contact{
    margin-top: 80px;
    margin-bottom: 10px;
    height: 80px; 
    background-color: rgb(233, 230, 230); 
    overflow: hidden;
    box-shadow: 4px 2px 10px rgb(2, 2, 2);
    display: flex;
    justify-content: space-between;
    align-items: center;}
    #middle, 
    #sideleft, 
    #sideright{
    border-radius: 20px;}


/*****************************END FOOTER***************************/